<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.12.0" targetFramework="net48" />
  <package id="LavaGang.MelonLoader" version="0.6.1" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.5" targetFramework="net48" />
  <package id="MonoMod.Backports" version="1.1.0" targetFramework="net48" />
  <package id="MonoMod.Core" version="1.1.0" targetFramework="net48" />
  <package id="MonoMod.ILHelpers" version="1.0.1" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour" version="25.1.0" targetFramework="net48" />
  <package id="MonoMod.Utils" version="25.0.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>